.popup__container-img {
    position: relative;
    margin: auto;
    margin-top: 80px;
    display: block;
    max-width: 816px;
}

@media screen and (max-width: 400px) and (min-width: 320px) {
    .popup__container-img {
        margin-top: 136px;
    }
}



