.profile-info__edit-button-image {
    background-image: url(../../../images/edit.svg);
    width: 10px;
    padding-bottom: 45.5%;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .profile-info__edit-button-image {
        width: 7.5px;
        padding-bottom: 46.9%;
    }
}
