.element__like-image {
    background-image: url(../../../images/heart.svg);
    width: 21px;
    background-repeat: no-repeat;
    margin-top: 31px;
    margin-right: 22px;
    padding-bottom: 6.5%;
    height: fit-content;
}